mixin statement(main, sub)
	h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900= main
	unless sub == ''
		p.select-none.font-poppins.text-xl.text-neutral-900= sub
mixin mainlink(href, text)
	a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href=href)&attributes(attributes)= text
mixin canonical(url)
	link(rel='canonical' href=url)
mixin meta(ver, name, content)
	case ver
		when 0
			meta(charset='utf-8')
		when 1
			meta(name=name content=`${content.replace(/\%e\%/gmi, '=')}`)
		when 2
			meta(property=name content=`${content.replace(/\%e\%/gmi, '=')}`)
		when 3
			meta(http-equiv=name content=`${content.replace(/\%e\%/gmi, '=')}`)
		default
			meta(name=name content=`${content.replace(/\%e\%/gmi, '=')}`)
mixin headerlink(href, rel, type)
	link(href=href rel=rel type=type, async='')&attributes(attributes)
mixin navlink(href, text)
	a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800' href=href)&attributes(attributes)= text
mixin servicesabout(secta, sectb)
	h2.select-none.font-poppins.text-2xl.font-medium.text-neutral-900= secta
	p.select-none.font-poppins.text-lg.text-neutral-900= sectb
mixin lowerFooter(...args)
	each arg in args
		.flex.flex-col.items-center.space-y-2
			h2.select-none.font-poppins.text-3xl.font-bold.text-neutral-900= arg[0]
			h3.select-none.font-poppins.text-xl.text-neutral-900= arg[1]
mixin staffsegment(title, members)
	.flex.flex-col.space-y-6
		h3.select-none.font-poppins.text-3xl.font-medium.text-neutral-900= title
		.grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
			each member in members
				if (typeof(member) == 'object')
					a.group.flex.flex-col.rounded-xl.bg-white.transition-all(href=member.website class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
						img.h-32.rounded-t-xl.object-cover.transition-all(src= member.avatarUrl alt= `${member.displayname}'s profile picture` type="image/webp" loading="lazy")
						.space-y-1.p-4
							h4.select-none.font-poppins.text-xl.font-medium.text-neutral-900= member.displayname
							h5.select-none.font-poppins.text-lg.text-neutral-600= member.title
mixin p2brs(...d)
	each data in d
		p= data
		br
		br
mixin brsbr(info)
	br
	strong= info
	br
mixin 3br()
	br
	br
	br
mixin enforcement(section, impact, consequence)
	h3.select-none.font-poppins.text-2xl.font-bold.text-neutral-900 #{section}
	p.select-none.font-poppins.text-xl.text-neutral-900 #[.font-semibold.underline Community Impact:] #{impact}
	p.select-none.font-poppins.text-xl.text-neutral-900 #[.font-semibold.underline Consequence:] #{consequence}
mixin support(version, supported, type=0)
	- var sym = ''
	case type
		when 0
			- sym = '>'
		when 1
			- sym = '>='
		when 2
			- sym = '<'
		when 3
			- sym = '<='
		when 4
			- sym = '^'
		when 5
			- sym = '~'
		default
			- sym = ''
	tr
		td.border.border-neutral-900= `${sym} ${version}`
		td.border.border-neutral-900= supported ? '✅' : '❌'
mixin navlinkv2(href, text)
	li.mx-5
		a(href=href).no-underline.text-white.font-bold.text-xl= text
mixin socials(icon, link, title, color)
	- var icontype = 'fab'
	- var colorx = ''
	case color
		when 'alex'
			- colorx = 'rose'
		when 'ben'
			- colorx = 'indigo'
	- if (['code', 'user', 'users', 'envelope'].includes(icon)) icontype = 'fas'
	.justify-evenly.size-full.flex.content-center.p-2
		a(href=link target='_blank' class=`hover:text-${colorx}-500 hover:scale-110 ${icontype} fa-${icon}` title=title rel='me').transition-all.duration-300.text-inherit.p-0.border-1.border-solid.border-transparent.rounded-3xl.no-underline.items-center.self-center.justify-center.flex.flex-col.pt-4.fa-3x.text-gray-700
mixin socials2(icon, link, title, color)
	- var colorx = ''
	case color
		when 'alex'
			- colorx = 'rose'
		when 'ben'
			- colorx = 'indigo'
	.justify-evenly.size-full.flex.content-center.p-2
		a(href=link target='_blank' class=`hover:text-${colorx}-500 hover:scale-110` title=title rel='me').transition-all.duration-300.text-inherit.p-0.border-1.border-solid.border-transparent.rounded-3xl.no-underline.items-center.self-center.justify-center.flex.flex-col.pt-4.text-5xl.text-gray-700.mso= icon
mixin nav()
	.sticky.top-0.z-30.flex.flex-row.items-center.justify-center.bg-white
		.flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8
			img.h-12(src='https://cdn.thefemdevs.com/assets/images/icon' alt='FemDevs Logo' async='')
			.flex.hidden.flex-row.items-center.space-x-6(class='md:flex')
				+navlink('https://thefemdevs.com', 'Home')
				+navlink('https://thefemdevs.com/about', 'About')
				+navlink('https://thefemdevs.com/products', 'Products')
				+navlink('mailto:support@thefemdevs.com', 'Contact')(rel="noreferrer" target="_blank")
mixin footer()
	hero.flex.w-full.justify-center.bg-neutral-900.p-12.text-neutral-100
		.flex.w-full.max-w-6xl.flex-col.space-y-8.divide-y.divide-brand-primary.divide-neutral-700.px-8
			.flex.flex-col.justify-between.space-y-4(class='md:flex-row md:space-x-4 md:space-y-0')
				.flex.flex-col.space-y-2
					h2.select-none.font-poppins.text-xl.font-medium About
					.flex.flex-col.space-y-0
						+mainlink('https://thefemdevs.com/about', 'About')
						+mainlink('https://thefemdevs.com/team', 'Team')
						+mainlink('https://thefemdevs.com/products', 'Products')
				.flex.flex-col.space-y-2
					h2.select-none.font-poppins.text-xl.font-medium Community
					.flex.flex-col.space-y-0
						+mainlink('https://discord.gg/FgQvDW8jtr', 'Discord')
						+mainlink('https://x.com/officialfemdevs', 'Twitter')
						+mainlink('https://instagram.com/officialfemdevs', 'Instagram')
						+mainlink('https://tiktok.com/@femdevs', 'TikTok')
						+mainlink('https://reddit.com/r/femdevs', 'Reddit')
						+mainlink('https://femboyland.eu/view-persons-profile/femdevs', 'FemboyLand')
				.flex.flex-col.space-y-2
					h2.select-none.font-poppins.text-xl.font-medium Company
					.flex.flex-col.space-y-0
						+mainlink('https://thefemdevs.com/branding', 'Branding')
						+mainlink('https://thefemdevs.com/careers', 'Careers')
						+mainlink('mailto:support@thefemdevs.com', 'Contact')(rel="noreferrer" target="_blank")
				.flex.flex-col.space-y-2
					h2.select-none.font-poppins.text-xl.font-medium Legal
					.flex.flex-col.space-y-0
						+mainlink('https://legal.thefemdevs.com/terms', 'Terms')
						+mainlink('https://legal.thefemdevs.com/privacy', 'Privacy')
						+mainlink('https://legal.thefemdevs.com/cookies', 'Cookies')
			.flex.flex-row.items-center.justify-between.pt-8
				h2.select-none.font-poppins.text-lg FemDevs &copy; 2024
				.flex.flex-row.items-center.justify-center.space-x-4
					case status
						when 1: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-green-500(title='Service Status: All Systems Functional'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-green-500
						when 2: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-red-500(title='Service Status: System Outage Detected'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-red-500
						when 3: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-yellow-500(title='Service Status: System Preformance Degraded'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-yellow-500
						when 4: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-blue-500(title='Service Status: System is Under Maintenance'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-blue-500
						default: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-gray-500(title='Service Status: Unknown'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-gray-500
mixin header()
	script(defer src='https://cdn.thefemdevs.com/assets/js/ga')
	+meta(0)
	+canonical(meta.canonical)
	+meta(3, 'X-UA-Compatible', "IE%e%edge")
	+meta(3, 'Content-Type', 'text/html; charset%e%utf-8')
	+meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
	+meta(1, 'google', 'nositelinkssearchbox')
	if meta
		+meta(1, 'title', meta.title)
		+meta(1, 'description', meta.desc)
		+meta(2, 'og:url', meta.url)
		+meta(2, 'og:title', meta.title)
		+meta(2, 'og:description', meta.desc)
		+meta(2, 'twitter:url', meta.url)
		+meta(2, 'twitter:title', meta.title)
		+meta(2, 'twitter:description', meta.desc)
		title= meta.title
	+meta(1, 'author', 'The FemDevs')
	+meta(1, 'keywords', 'femdevs, femboys, development, benpai, oblong, oblong101, alex, auxiliaryfrfr')
	+meta(1, 'language', 'en-us')
	+meta(1, 'revisit-after', '2 days')
	+meta(2, 'og:type', 'website')
	+meta(2, 'og:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
	+meta(2, 'twitter:card', 'summary_large_image')
	+meta(2, 'twitter:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
	+meta(1, 'apple-mobile-web-app-status-bar-style', 'black')
	+meta(1, 'apple-mobile-web-app-title', 'The FemDevs Website')
	+meta(1, 'google-adsense-account', 'ca-pub-1906373468377810')
	+headerlink('https://cdn.thefemdevs.com/assets/images/cus', 'apple-touch-icon', 'image/png')
	+headerlink('https://cdn.thefemdevs.com/assets/images/deficon', 'icon', 'image/svg+xml')
	+headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
	script(type='application/ld+json').
		{
			"@context": "https://schema.org",
			"@type": "Project",
			"name": "The FemDevs",
			"alternateName": "FemDevs",
			"url": "https://thefemdevs.com",
			"logo": "https://thefemdevs.com/assets/images/deficon",
			"sameAs": "https://github.com/femdevs"
		}
mixin legalDisclaimer()
	p.select-none.font-poppins.text-xl.text-neutral-900.
		If you have any questions or concerns regarding these Terms, please contact us at #[a.font-medium(href="mailto:legal@thefemdevs.com") legal@thefemdevs.com].
		By using the Website, you acknowledge that you have read, understood, and agreed to these Terms of the Privacy Policy. If you do not agree to these Terms, please refrain from accessing or using the Website.
mixin adminNav()
	header(class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-blue-600 text-sm py-3 sm:py-0")
		nav(class="relative max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8")
			div(class="flex items-center justify-between")
				a(class="flex-none text-xl font-semibold text-white" href="https://thefemdevs.com")
					img(class="h-8" src="https://cdn.thefemdevs.com/assets/images/deficon" alt="Logo")
				div(class="sm:hidden")
					button(type="button" class="hs-collapse-toggle size-9 flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-white/20 text-white hover:border-white/40 disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse-with-animation")
						svg(class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							line(x1="3" x2="21" y1="6" y2="6")
							line(x1="3" x2="21" y1="12" y2="12")
							line(x1="3" x2="21" y1="18" y2="18")
						svg(class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M18 6 6 18")
							path(d="m6 6 12 12")
			div(id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block")
				div(class="flex flex-col sm:flex-row sm:items-center sm:justify-end py-2 md:py-0 sm:ps-7")
					a(class="py-3 ps-px sm:px-3 font-medium text-white/80 hover:text-white" href="/") Homepage
					a(class="py-3 ps-px sm:px-3 font-medium text-white/80 hover:text-white" href="/tokens") Tokens
					a(class="py-3 ps-px sm:px-3 font-medium text-white/80 hover:text-white" href="/users") Users
					unless currentUser.loggedIn
						a(class="flex items-center gap-x-2 font-medium text-white/80 hover:text-white sm:border-s sm:border-white/30 py-2 md:py-0 sm:my-6 sm:ps-6" href="https://auth.thefemdevs.com/login")
							svg(class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2")
								circle(cx="12" cy="7" r="4")
							| Log in
					else
						a(class="flex items-center gap-x-2 font-medium text-white/80 hover:text-white sm:border-s sm:border-white/30 py-2 md:py-0 sm:my-6 sm:ps-6" href="https://auth.thefemdevs.com/logout")
							span(class="inline-flex items-center justify-center size-8 text-sm font-semibold leading-none rounded-full bg-pink-100 text-pink-800 border-solid border border-pink-500")= currentUser.user.name.initials
							| #{currentUser.user.name.display}