script(async src="https://www.googletagmanager.com/gtag/js?id=G-X9E281G0P3")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X9E281G0P3');
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='google' content='nositelinkssearchbox')
if meta
  meta(name='title' content= meta.title)
  meta(name='description' content= meta.desc)
  meta(property='og:url' content= meta.url)
  meta(property='og:title' content= meta.title)
  meta(property='og:description' content= meta.desc)
  meta(property='twitter:url' content= meta.url)
  meta(property='twitter:title' content= meta.title)
  meta(property='twitter:description' content= meta.desc)
meta(name='author' content='The FemDevs')
meta(name='keywords' content='femdevs, femboys, development, sparty18, benpai, oblong, oblong101, alex, auxiliaryfrfr')
meta(name='language' content='English')
meta(name='revisit-after' content='2 days')
meta(property='og:type' content='website')
meta(property='og:image' content='/assets/misc/thumbnail')
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:image' content='/assets/misc/thumbnail')
link(rel='icon' href='/assets/images/deficon' type='image/svg+xml')
link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
link(href='/stylesheets/styles.css' rel='stylesheet' type='text/css' defer='')
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "Project",
    "name": "The FemDevs",
    "alternateName": "FemDevs",
    "url": "https://thefemdevs.com",
    "logo": "https://thefemdevs.com/assets/images/deficon",
    "sameAs": "https://github.com/femdevs"
  }
title= title
if file
  - var filename = '/assets/css/f/' + file
  link(href=filename rel='stylesheet' type='text/css')
script(
  src="https://unpkg.com/@simplewebauthn/browser@8.0.2/dist/bundle/index.umd.min.js"
  integrity="sha512-3/94PiJaIRRPx6AVRXm5PrTPL1Lqdadm6cj1raatDDntz6Z4/VMP0iQdEF9uPP0DtG59sjJipm7i7YNumS9/pQ=="
  crossorigin="anonymous"
)
