//- script(
//-   defer
//-   src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1906373468377810"
//-   crossorigin="anonymous"
//- )
script(
  src="https://browser.sentry-cdn.com/7.72.0/bundle.tracing.min.js"
  crossorigin="anonymous"
)
script(
  src="https://browser.sentry-cdn.com/7.72.0/transaction.min.js"
  crossorigin="anonymous"
)
script(type="module").
  Sentry.init({
    dsn: "https://90738d20a91d4f169081dfbea05bc8d4@o4504516705058816.ingest.sentry.io/4504771825303552",
    integrations: [
      new Sentry.Integrations.BrowserTracing(),
    ],
    tracesSampleRate: 1.0,
    profilesSampleRate: 1.0,
    replaysSessionSampleRate: 1.0,
    replaysOnErrorSampleRate: 1.0
  });
script(defer src='/assets/js/ga')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag("js", new Date());
  gtag("config", 'G-X9E281G0P3');
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='google' content='nositelinkssearchbox')
if meta
  meta(name='title' content= meta.title)
  meta(name='description' content= meta.desc)
  meta(property='og:url' content= meta.url)
  meta(property='og:title' content= meta.title)
  meta(property='og:description' content= meta.desc)
  meta(property='twitter:url' content= meta.url)
  meta(property='twitter:title' content= meta.title)
  meta(property='twitter:description' content= meta.desc)
  title= meta.title
meta(name='author' content='The FemDevs')
meta(name='keywords' content='femdevs, femboys, development, sparty18, benpai, oblong, oblong101, alex, auxiliaryfrfr')
meta(name='language' content='en-us')
meta(name='revisit-after' content='2 days')
meta(property='og:type' content='website')
meta(property='og:image' content='/assets/misc/thumbnail')
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:image' content='/assets/misc/thumbnail')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title' content='The FemDevs Website')
meta(name="google-adsense-account" content="ca-pub-1906373468377810")
link(rel='apple-touch-icon' href='/assets/images/cus' type='image/png')
link(rel='icon' href='/assets/images/deficon' type='image/svg+xml')
link(href='/assets/css/d' rel='stylesheet' type='text/css' defer='')
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "Project",
    "name": "The FemDevs",
    "alternateName": "FemDevs",
    "url": "https://thefemdevs.com",
    "logo": "https://thefemdevs.com/assets/images/deficon",
    "sameAs": "https://github.com/femdevs"
  }
if file
  - var filename = "/assets/css/f/" + file
  link(
    href= filename
    rel='stylesheet'
    type='text/css'
  )
//- script(defer src="https://fundingchoicesmessages.google.com/i/pub-1906373468377810?ers=1" nonce="OGd3JXTu01PnVKe3bosPtg" type='application/javascript')
//- script(nonce="OGd3JXTu01PnVKe3bosPtg" type='application/javascript').
//-   (function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();
//- script(defer src="/assets/js/o/adRecovery.js" type='application/javascript')
//- script(type='application/javascript').
