.sticky.top-0.z-30.flex.flex-row.items-center.justify-center.bg-white
  .flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8
    img.h-12(src='/assets/images/icon', alt='DAAD Logo')
    .flex.hidden.flex-row.items-center.space-x-6(class='md:flex')
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='/') Home
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='/about') About
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='/products') Products
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='mailto:support@thefemdevs.com' target="_blank") Contact

    button(class='md:hidden', onclick='toggleMobileMenu()')
      i.fas.fa-bars.text-3xl.text-neutral-900
#mobile-menu.fixed.bottom-0.left-0.right-0.top-0.z-40.-translate-y-full.p-8.backdrop-blur-md.transition-all.duration-700(
  class='bg-white/75',
  tabindex='-1'
)
  button.absolute.right-0.top-0.mx-8.my-10(tabindex='-1', class='md:hidden', onclick='toggleMobileMenu()')
    i.fas.fa-bars.text-3xl.text-neutral-900
  .flex.h-full.flex-col.items-start.justify-center.space-y-4
    a.select-none.font-poppins.text-2xl.transition-all(tabindex='-1', class='hover:text-neutral-800', href='/') Home
    a.select-none.font-poppins.text-2xl.transition-all(tabindex='-1', class='hover:text-neutral-800', href='/about') About
    a.select-none.font-poppins.text-2xl.transition-all(tabindex='-1', class='hover:text-neutral-800', href='/products') Products
    a.select-none.font-poppins.text-2xl.transition-all(tabindex='-1', class='hover:text-neutral-800', href='/community/blog') News
    a.select-none.font-poppins.text-2xl.transition-all(tabindex='-1', class='hover:text-neutral-800', href='/contact') Contact
    .flex.flex-row.space-x-2
      if !auth
        a.select-none.rounded-md.bg-brand-primary.px-4.py-2.font-poppins.text-lg.text-white.transition-all(
          class='hover:bg-brand-primary-dark hover:text-neutral-100',
          href='/auth/login',
          tabindex='-1'
        ) Log in
        a.select-none.rounded-md.bg-brand-primary.px-4.py-2.font-poppins.text-lg.text-white.transition-all(
          class='hover:bg-brand-primary-dark hover:text-neutral-100',
          href='/auth/signup',
          tabindex='-1'
        ) Sign up
      else
        img.h-12.w-12.rounded-full(src=user.avatar, alt='User Avatar')

script.
  var mobileMenu = document.getElementById('mobile-menu');
  var mobileMenuOpen = false;
  function toggleMobileMenu() {
    if (mobileMenuOpen) {
      mobileMenu.classList.remove('translate-y-0');
      mobileMenu.classList.add('-translate-y-full');
      document.body.style.overflow = 'auto';
      mobileMenuOpen = false;
    } else {
      mobileMenu.classList.add('translate-y-0');
      mobileMenu.classList.remove('-translate-y-full');
      document.body.style.overflow = 'hidden';
      mobileMenuOpen = true;
    }
  }